<footer class="footer">
  <div class="footer__top">
    <div class="container">
        <div class="footer__top-inner">
            <ul class="footer__list">
                
                <li class="footer__item footer__item--title">
                    <a class="footer__item-link" href="/help" >
                        Помощь
                    </a>
                </li>
                <li class="footer__item">
                    <a class="footer__item-link" href="/VIN" >
                        Запрос по VIN
                    </a>
                </li>
                <li class="footer__item">
                    <a class="footer__item-link" href="/tire-calculator" >
                        Шинный калькулятор
                    </a>
                </li>
                <li class="footer__item">
                    <a class="footer__item-link" href="/site-map" >
                        Карта сайта
                    </a>
                </li>
                <li class="footer__item">
                    <a class="footer__item-link" href="/all-marks" >
                        Все марки авто
                    </a>
                </li>
            </ul>

            <ul class="footer__list">
                <li class="footer__item footer__item--title">
                    <a class="footer__item-link" href="/about" >
                        О Компании
                    </a>
                </li>
                <li class="footer__item">
                    <a class="footer__item-link" href="/comments" >
                        Отзывы клиентов
                    </a>
                </li>
                <li class="footer__item">
                    <a class="footer__item-link" href="/news" >
                        Новости
                    </a>
                </li>
            </ul>

            <ul class="footer__list">
                <li class="footer__item footer__item--title">
                    <a class="footer__item-link" href="/to-customers" >
                        Покупателям
                    </a>
                </li>
                <li class="footer__item">
                    <a class="footer__item-link" href="/how-to-make-offer" >
                        Как сделать заказ?
                    </a>
                </li>
                <li class="footer__item">
                    <a class="footer__item-link" href="/how-to-define-part" >
                        Как определить запчасть?
                    </a>
                </li>
                <li class="footer__item">
                    <a class="footer__item-link" href="/pay-with-carts" >
                        Оплата картами рассрочки
                    </a>
                </li>
                <li class="footer__item">
                    <a class="footer__item-link" href="/sales-system" >
                        Система скидок
                    </a>
                </li>
            </ul>

            <ul class="footer__list">
                <li class="footer__item footer__item--title">
                    <a class="footer__item-link" href="/profile" >
                        Профиль
                    </a>
                </li>
                <li class="footer__item">
                    <a class="footer__item-link" href="/singin" >
                        Вход
                    </a>
                </li>
                <li class="footer__item">
                    <a class="footer__item-link" href="/signup" >
                        Регистрация
                    </a>
                </li>
            </ul>

            <ul class="footer__list">
                <li class="footer__item footer__item--title">
                    <a class="footer__item-link" href="/contacts" >
                        Контакты
                    </a>
                </li>
                <li class="footer__item">
                    <a class="footer__item-link" href="tel:+375333903303" >
                        +375(33)390-33-03
                    </a>
                </li>
            </ul>
        </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
        <p class="footer__copy">
            Разработка сайта - Дунников Алексей
        </p>
    </div>
  </div>

</footer>