{{> head }}
<body>
    <div class="wrapper">
        <header class="header">
            {{> header-page}}
        </header>
        <main class="main">
            {{{body}}}
        </main>
        <footer class="footer">
            {{> footer-page}}
        </footer>
    </div>
    
    <div class="container">
    

    </div>
    
    {{> footer}}
</body>
</html>