{{> head }}
<body>
    <div class="wrapper">
        
        {{> header-page}}
        
        <main class="main">
            {{{body}}}
        </main>
        
        {{> footer-page}}
        
    </div>
    
    {{> footer}}
</body>
</html>