<section class="error page-section">
    <div class="container">
        <h1 class="error__title">
            404
        </h1>
        <p class="error__text">
            Страница не найдена
        </p>
    </div>
</section>
