<section class="about page-section">
  <div class="container">
    <h1 class="about__title page-title">
      О компании
    </h1>
    <div class="about__inner">
      <p class="about__text">
        Магазин автозапчастей "AllParts" специализируется по продаже
        автозапчастей для иномарок. Всегда в наличии на складе широкий
        ассортимент необходимых деталей, а с помощью мощного интеренет-каталога
        поиск и приобретение нужной запчасти стали ещё доступней и быстрее.
      </p>
      <p class="about__text">
        Магазин автозапчастей "AllParts" предоставляет гарантию на все проданные
        автозапчасти. Мы сотрудничаем исключительно с надежными поставщиками и
        потому уверены в качестве их продукции.
      </p>
      <ul class="about__list">
        <li class="about__item">
          Актуальные цены и наличие на более чем 60 млн. ассортимент
          автозапчастей.
        </li>
        <li class="about__item">
          Мы максимально открыты и лояльны к каждому покупателю и стараемся
          решить любой спорный вопрос в пользу нашего клиента.
        </li>
        <li class="about__item">
          Мы постоянно работаем над тем, чтобы наши цены Вас приятно удивляли.
          Если Вы знаете, что где-то есть товар сопоставимого качества по более
          низкой цене, – звоните. Мы готовы обсудить дополнительную скидку лично
          для Вас.
        </li>
        <li class="about__item">
          Для постоянных оптовых клиентов мы предлагаем специальные условия.
        </li>
        <li class="about__item">
          Каждому нашему клиенту обеспечена поддержка персонального менеджера.
        </li>
        <li class="about__item">
          Работаем с юридическими лицами всех форм собственности. Отпуск товара
          со всеми товаросопроводительными документами. Работаем без НДС.
        </li>
      </ul>

      <p class="about__text">
        Просим Вас сообщать на наш электронный ящик о всех пожеланиях,
        касающихся нашей работы. В том числе и о недостатках. Это поможет
        сделать наш сервис удобнее для Вас.
      </p>
    </div>
  </div>
</section>