<section class="delivery page-section">
  <div class="container">
    <h1 class="delivery__title page-title">
      Доставка
    </h1>
    <div class="delivery__inner">

      Мы предлагаем бесплатную доставку любого товара по всей территории
      Беларуси. Условия бесплатной доставки:

      <ol class="delivery__list">
        <li class="delivery__item">
          доставка компанией «AllParts» в пункт выдачи, находящийся в месте
          проживания клиента, при этом обратную пересылку товара (в случае такой
          необходимости, за исключением возврата брака) оплачивает клиент. сумма
          заказа для бесплатной доставки - от 40 рублей;
        </li>
        <li class="delivery__item">
          доставка курьером по указанному адресу, до подъезда, в границах г.
          Гродно и населенных пунктов в пределах 5 км от города (возврат товара
          силами и за счет покупателя). сумма заказа для бесплатной доставки -
          от 20 рублей;
        </li>
        <li class="delivery__item">

          все дополнительные вопросы и параметры доставки оговариваются и
          решаются с персональным менеджером посредством телефонной либо иной
          связи.
        </li>
      </ol>

      <strong>Внимание!</strong>
      <br />
      Доставка курьером AllParts по указанному адресу в г. Гродно (до подъезда)
      осуществляется в интервалах:
      <br />
      - понедельник – пятница: 12:00 - 15:00, 16:00 - 19:00,
      <br />
      - суббота: 12:00 - 16:00
      <br />
      - воскресенье: 12:00 – 14:00
      <br />
      *Время, отличное от указанного, согласовывается с персональным менеджером.
    </div>
  </div>
</section>