<section class="select-car page-section">
    <div class="container">
        <div class="select-car__inner" style="background-image: url('./images/select-car-bg.png');">
            <h3 class="select-car__title">
                Выберите свой автомобиль
            </h3>
            <p class="select-car__text">
                Это поможет ускорить подбор необходимых вам запчастей
            </p>
            <form class="select-car__form" action="">
                <select class="select-car__input" name="car-year" id="car-year">
                    <option disabled selected>Год выпуска</option>
                </select>
                 <select class="select-car__input" name="car-mark" id="car-mark">
                   <option disabled selected>Марка</option>
                </select>
                <select class="select-car__input" name="car-model" id="car-model">
                   <option disabled selected>Модель</option>
                </select>
                <select class="select-car__input" name="car-engine" id="car-engine">
                   <option disabled selected>Двигатель</option>
                </select>
                <select class="select-car__input" name="car-modification" id="car-modification" >
                   <option disabled selected>Модификация</option>
                </select>
            </form>
        </div>
    </div>
</section>