<section class="payment page-section">
  <div class="container">
    <h1 class="payment__title page-title">
      Оплата
    </h1>
    <div class="payment__inner">

      На данный момент рассчитаться за заказанные в "AllParts" запчасти можно
      несколькими способами:
      <ul class="payment__list">
        <li class="payment__item">
          1. В нашем магазине при получении товара (наличными/картой)
        </li>
        <li class="payment__item">
          2. Курьеру при доставке (наличными/картой)
        </li>
      </ul>

    </div>
  </div>
</section>