<section class="auth page-section">
  <div class="container">
    <div class="auth__form-wrapper">
      <div class="auth__form-body">
        <h1 class="auth__title page-title">Регистрация</h1>
        <form class="auth__form" action="POST">
          <input
            class="auth__form-input"
            name="login"
            type="text"
            placeholder="Введите логин"
          />
          <input
            class="auth__form-input"
            name="email"
            type="text"
            placeholder="Введите e-mail"
          />
          <input
            class="auth__form-input"
            name="password"
            type="text"
            placeholder="Введите пароль"
          />
          <input
            class="auth__form-input"
            name="password-confirm"
            type="text"
            placeholder="Подтвердите пароль"
          />
          <button class="auth__btn btn" type="submit">
            Зарегестрироваться
          </button>
        </form>


        <div class="auth__help">
          <span class="auth__help-text">
            Уже есть аккаунт?
          </span>
          <a class="signig__help-link" href="/signin">
            Войти в аккаунт
          </a>
        </div>
      </div>
    </div>
  </div>
</section>