<section class="auth page-section">
  <div class="container">

    <div class="auth__form-wrapper">
      <div class="auth__form-body">
        <h1 class="auth__title page-title">Вход в аккаунт</h1>
        <form class="auth__form" action="POST">
          <input
            class="auth__form-input"
            name="login"
            type="text"
            placeholder="Введите логин"
          />
          <input
            class="auth__form-input"
            name="password"
            type="text"
            placeholder="Введите пароль"
          />
          <button class="auth__btn btn" type="submit">
            Войти
          </button>
        </form>

        <div class="auth__help">
          <span class="auth__help-text">
            Ещё нету аккаунта?
          </span>
          <a class="signig__help-link" href="/signup">
            Зарегестрироваться
          </a>
        </div>
      </div>

    </div>

  </div>
</section>