<section class="auth page-section">
  <div class="container">

    <div class="auth__form-wrapper">
      <div class="auth__form-body">
        <h1 class="auth__title page-title">Вход в аккаунт</h1>
        {{#if signinError}}
          <div class="castom-error">{{signinError}}</div>
        {{/if}}
        <form class="auth__form" action="/signin" method="POST">
          <input
            class="auth__form-input"
            name="email"
            type="text"
            placeholder="Введите e-mail"
            value="dunnikov223@gmail.com"
          />
          <input
            class="auth__form-input"
            name="password"
            type="text"
            placeholder="Введите пароль"
            value="123456"
          />
          <button class="auth__btn btn" type="submit">
            Войти
          </button>
        </form>

        <div class="auth__help">
          <span class="auth__help-text">
            Ещё нету аккаунта?
          </span>
          <a class="signig__help-link" href="/signup">
            Зарегистрироваться
          </a>
        </div>
      </div>

    </div>

  </div>
</section>