@import "./reset.css";
@import "./global.css";

.header {
  color: #fff;
  background-color: #111;
  position: relative;
  margin-bottom: 50px;
}

.header__top {
  padding: 20px 0;
  border-bottom: 1px solid #fff;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.nav-item:not(:last-of-type) {
  margin-right: 30px;
}

.nav-item__link {
  font-size: 18px;
  line-height: 22px;
  transition: ease 0.3s;
}

.nav-item__link:hover {
  color: #338cf0;
}

.nav-item__link.active {
  color: #338cf0;
}

.header__top-info {
  display: flex;
  align-items: center;
}

.header__top-info__phone {
  margin-right: 45px;
}

.header__top-info__address {
  display: flex;
  align-items: center;
}

.header__top-info__address-img {
  margin-right: 7px;
}

.header__content {
  padding-bottom: 30px;
}

.header__content-inner {
  display: flex;
  align-items: center;
}

.logo-wrapper {
  margin-left: 40px;
  margin-right: 107px;
}

.header__search-form {
  position: relative;
  margin-right: 50px;
  width: 624px;
}

.header__search-input {
  width: 100%;
  padding: 8px 80px 8px 18px;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  transition: ease 0.3s;
}

.header__search-input:focus {
  outline: none;
  border-color: #202020;
}

.header__search-input::placeholder {
  color: #828282;
  font-size: 14px;
  line-height: 16px;
}

.header__search-btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border: none;
  padding: 5px 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #338cf0;
  cursor: pointer;
}

.header__search-btn:hover .header__search-btn__img path {
  fill: #111;
}

.header__content-nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header__content-nav__item {
}

.header__content-nav__item:not(:last-of-type) {
  margin-right: 30px;
}

.header__content-nav__item-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__content-nav__item-link__img-box {
  position: relative;
}

.header__content-nav__item-link:hover .header__content-nav__item-img path {
  fill: #338cf0;
}

.header__content-nav__item-img {
  margin-bottom: 5px;
}

.basket-num {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #338cf0;
  width: 18px;
  height: 18px;
  font-size: 8px;
  line-height: 8px;
  border-radius: 50%;
  right: 0;
  bottom: 0;
}

.header__menu {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(50%);
  z-index: 10;
}

.header__menu-inner {
  padding: 0 15px;
}

.header__menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #000;
  border-radius: 5px;
}

.header__menu-item {
  position: relative;
  padding: 10px 0;
}

.header__menu-item__link {
  position: relative;
  padding: 10px 35px 10px 15px;
}

.header__menu-item:not(:last-of-type) .header__menu-item__link::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #000;
}

.header__menu-item__link-img {
  position: absolute;
  transition: ease 0.3s;
  right: 15px;
  top: 50%;
  transform: translateY(-30%);
}

.header__menu__dropdown-list {
  position: absolute;
  visibility: hidden;
  min-width: 255px;
  opacity: 0;
  transform: scaleY(0.3);
  transform-origin: 0 0;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  padding: 10px 15px;
  left: 0;
  top: 100%;
  transition: ease 0.3s;
}

.header__menu-item:hover .header__menu__dropdown-list {
  visibility: visible;
  opacity: 1;
  transform: scaleY(1);
}

.header__menu-item:hover .header__menu-item__link-img {
  transform: translateY(-30%) rotate(180deg);
}

.header__menu__dropdown-item:not(:last-of-type) {
  margin-bottom: 7px;
}

.header__menu__dropdown-link {
  position: relative;
}

.header__menu__dropdown-link::after {
  content: "";
  transition: ease 0.3s;
  position: absolute;
  bottom: 0;
  left: auto;
  right: 0;
  width: 0;
  height: 1px;
  background-color: #000;
}

.header__menu__dropdown-link:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.select-car.hide{
    display: none;
}

.select-car__inner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 40px 50px 70px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-car__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 54px;
  margin-bottom: 7px;
  color: #fff;
}

.select-car__text {
  font-size: 22px;
  line-height: 25px;
  margin-bottom: 33px;
  color: #fff;
}

.select-car__form {
  padding: 12px 25px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select-car__input:not(:last-of-type) {
  margin-right: 25px;
}

.categories__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 20px;
}

.categories__item {
  display: flex;
}

.categories__item-link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 20px 11px 20px;
  border: 1px solid #e5e5e5;
  transition: ease 0.3s;
}

.categories__item-link:hover {
  transform: scale(1.05);
}

.categories__item-link__img {
  width: auto;
  max-height: 120px;
  margin-bottom: 17px;
}

.marks__inner {
  background-color: #f0f0f2;
}

.marks__top {
  padding: 24px 38px;
  border-bottom: 1px solid #cdcdcd;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}

.marks__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 46px;
  margin-bottom: 10px;
}

.marks__logo-list {
  display: flex;
  align-items: center;
}

.marks__logo-item:not(:last-of-type) {
  margin-right: 30px;
}

.marks__logo-item__img {
  max-height: 70px;
}

.marks__bottom{
    padding: 24px 38px;
}

.marks__list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px 30px;
}

.marks__item-link{
    font-size: 18px;
    line-height: 22px;
    position: relative;
    text-transform: uppercase;
}

.marks__item-link::after{
    content: "";
    position: absolute;
    opacity: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #000;
    transition: ease 0.3s;
}

.marks__item-link:hover::after{
    opacity: 1;
}

.garage__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.garage__list{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.garage__item{
    position: relative;
}

.garage__item.active .garage__item-link{
    border-color: #338cf0;
    box-shadow: 0 0 5px rgba(51, 140, 240, 0.8);
}

.garage__item-link{
    display: flex;
    align-items: center;
    padding: 10px 50px 10px 15px;
    background-color: #f0f0f2;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.garage__item-img{
    width: auto;
    max-height: 100px;
    margin-right: 30px;
}

.garage__item-content{
    font-size: 18px;
    line-height: 22px;
    margin-right: 30px;
    align-self: flex-start;  
}

.garage__item-name{
    font-weight: 500;
}

.garage__item-delete{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    margin-left: auto;
    cursor: pointer;
}







.footer{
    color: #fff;
    background-color: #111;
}

.footer__top{
    padding: 50px 0;
    border-bottom: 1px solid #515151;
}

.footer__top-inner{
    display: flex;
}

.footer__list:not(:last-of-type){
    margin-right: 85px;
}

.footer__item--title{
    margin-bottom: 15px;
}

.footer__item{
    font-size: 14px;
    line-height: 16px;
}

.footer__item:not(:last-of-type){
    margin-bottom: 10px;
}

.footer__bottom{
    padding: 25px 0;
}

.footer__copy{
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}