html,
body {
  height: 100%;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  overflow-x: hidden;
  min-width: 300px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
}

svg path {
  transition: ease 0.3s;
}

.page-section {
  margin-bottom: 65px;
}

.page-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 46px;
  margin-bottom: 30px;
}

.btn {
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 8px 20px;
  background-color: #338cf0;
  cursor: pointer;
  transition: ease 0.3s;
}

.btn:hover {
  color: #338cf0;
  background-color: #fff;
}

.catalog__filters-list .noUi-connect {
  background-color: #338cf0;
}
