@import "./reset.css";
@import "./global.css";

.header__wrapper {
  position: relative;
  z-index: 100;
}

.header__aside {
  display: none;
  position: absolute;
  padding: 20px;
  background-color: #111;
  color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 90;
  transform: translateY(-100%);
  transition: ease 0.3s;
  height: calc(100vh - 100%);
  z-index: -1;
}

.header__aside-block:not(:last-of-type) {
  border-bottom: 1px solid #cecece;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.header__aside__user-link__img-box {
  position: relative;
}

.header__aside-block--icons {
  display: flex;
  justify-content: space-around;
}

.header__aside__user-img {
  margin-bottom: 5px;
}

.header__aside__user-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__aside__link {
  display: block;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  transition: ease 0.3s;
}

.header__aside__link:not(:last-of-type) {
  margin-bottom: 10px;
}

.header__aside__link:hover {
  color: #338cf0;
}

.header__aside__link.active {
  color: #338cf0;
}

.header__aside__search-form {
  position: relative;
  margin-right: 50px;
  width: 100%;
}

.header__aside.active {
  transform: translateY(0);
}

.header {
  color: #fff;
  background-color: #111;
  position: relative;
}

.header__wrapper {
  margin-bottom: 80px;
}

.header__top {
  padding: 20px 0;
  border-bottom: 1px solid #fff;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.nav-item:not(:last-of-type) {
  margin-right: 30px;
}

.nav-item__link {
  font-size: 18px;
  line-height: 22px;
  transition: ease 0.3s;
}

.nav-item__link:hover {
  color: #338cf0;
}

.nav-item__link.active {
  color: #338cf0;
}

.header__top-info {
  display: flex;
  align-items: center;
}

.header__top-info__phone {
  margin-right: 45px;
}

.header__top-info__address {
  display: flex;
  align-items: center;
}

.header__top-info__address-img {
  margin-right: 7px;
}

.header__content {
  position: relative;
  border-bottom: 1px solid #cecece;
  padding-bottom: 30px;
}

.header__hamburger-btn {
  display: none;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 30px;
  font-size: 0;
  box-shadow: none;
  cursor: pointer;
  z-index: 100;
  background-color: transparent;
  border: none;
}

.header__hamburger-btn:focus {
  outline: none;
}

.header__hamburger-btn span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  height: 3px;
  background-color: #fff;
  transition: background-color 0.2s;
}

.header__hamburger-btn span::before,
.header__hamburger-btn span::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: ease 0.2s;
}

.header__hamburger-btn span::before {
  top: -13px;
}

.header__hamburger-btn span::after {
  bottom: -13px;
}

.header__content-inner {
  display: flex;
  align-items: center;
}

.logo-wrapper {
  margin-left: 40px;
  margin-right: 107px;
}

.header__search-form {
  position: relative;
  margin-right: 50px;
  width: 624px;
}

.header__search-input {
  width: 100%;
  padding: 8px 80px 8px 18px;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  transition: ease 0.3s;
}

.header__search-input:focus {
  outline: none;
  border-color: #202020;
}

.header__search-input::placeholder {
  color: #828282;
  font-size: 14px;
  line-height: 16px;
}

.header__search-btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border: none;
  padding: 5px 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #338cf0;
  cursor: pointer;
}

.header__search-btn:hover .header__search-btn__img path {
  fill: #111;
}

.header__content-nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header__content-nav__item:not(:last-of-type) {
  margin-right: 30px;
}

.header__content-nav__item-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__content-nav__item-link__img-box {
  position: relative;
}

.header__content-nav__item-link:hover .header__content-nav__item-img path {
  fill: #338cf0;
}

.header__content-nav__item-link:hover
  .header__content-nav__item-img--logout
  path {
  stroke: #338cf0;
}

.header__content-nav__item-img {
  margin-bottom: 5px;
}

.basket-num {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #338cf0;
  width: 18px;
  height: 18px;
  font-size: 8px;
  line-height: 8px;
  border-radius: 50%;
  right: 0;
  bottom: 0;
}

.header__menu {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(50%);
  z-index: 10;
}

.header__menu-inner {
  padding: 0 15px;
}

.header__menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #000;
  border-radius: 5px;
}

.header__menu-item {
  position: relative;
  padding: 10px 0;
}

.header__menu-item__link {
  position: relative;
  padding: 10px 35px 10px 15px;
}

.header__menu-item:not(:last-of-type) .header__menu-item__link::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #000;
}

.header__menu-item__link-img {
  position: absolute;
  transition: ease 0.3s;
  right: 15px;
  top: 50%;
  transform: translateY(-30%);
}

.header__menu__dropdown-list {
  position: absolute;
  visibility: hidden;
  min-width: 255px;
  opacity: 0;
  transform: scaleY(0.3);
  transform-origin: 0 0;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  padding: 10px 15px;
  left: 0;
  top: 100%;
  transition: ease 0.3s;
}

.header__menu-item:last-of-type .header__menu__dropdown-list {
  left: auto;
  right: 0;
}

.header__menu-item:hover .header__menu__dropdown-list {
  visibility: visible;
  opacity: 1;
  transform: scaleY(1);
}

.header__menu-item:hover .header__menu-item__link-img {
  transform: translateY(-30%) rotate(180deg);
}

.header__menu__dropdown-item:not(:last-of-type) {
  margin-bottom: 7px;
}

.header__menu__dropdown-link {
  position: relative;
}

.header__menu__dropdown-link::after {
  content: "";
  transition: ease 0.3s;
  position: absolute;
  bottom: 0;
  left: auto;
  right: 0;
  width: 0;
  height: 1px;
  background-color: #000;
}

.header__menu__dropdown-link:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.select-car.hide {
  display: none;
}

.select-car--profile {
  display: none;
  margin-bottom: 30px;
}

.select-car--profile.active {
  display: block;
}

.select-car__inner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 40px 50px 70px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-car__title {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 54px;
  margin-bottom: 7px;
  color: #fff;
}

.select-car__text {
  text-align: center;
  font-size: 22px;
  line-height: 25px;
  margin-bottom: 33px;
  color: #fff;
}

.select-car__form {
  padding: 12px 25px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select-car__input {
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #211d1c;
}

.select-car__input:not(:last-of-type) {
  margin-right: 25px;
}

.categories__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 20px;
}

.categories__item {
  display: flex;
}

.categories__item-link {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 20px 11px 20px;
  border: 1px solid #e5e5e5;
  transition: ease 0.3s;
}

.categories__item-link__text {
  text-align: center;
}

.categories__item-link:hover {
  transform: scale(1.05);
}

.categories__item-link__img {
  width: auto;
  max-height: 120px;
  margin-bottom: 17px;
}

.marks__inner {
  background-color: #f0f0f2;
}

.marks__top {
  padding: 24px 38px;
  border-bottom: 1px solid #cdcdcd;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}

.marks__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 46px;
  margin-bottom: 10px;
}

.marks__logo-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.marks__logo-item {
  margin: 10px;
}

.marks__logo-item__img {
  max-height: 70px;
}

.marks__bottom {
  padding: 24px 38px;
}

.marks__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px 30px;
}

.marks__item-link {
  font-size: 18px;
  line-height: 22px;
  position: relative;
  text-transform: uppercase;
}

.marks__item-link::after {
  content: "";
  position: absolute;
  opacity: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #000;
  transition: ease 0.3s;
}

.marks__item-link:hover::after {
  opacity: 1;
}

.garage.hide {
  display: none;
}

.garage__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.garage__list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.garage__item {
  position: relative;
}

.garage__item-add {
  line-height: 0;
}

.garage__item-add__btn,
.profile__card__add-btn,
.profile__address__add-btn {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  background-color: transparent;
  border: 1px solid #338cf0;
  border-radius: 5px;
  cursor: pointer;
}

.garage__item-add__btn-img--plus {
  max-height: 60px;
  margin-bottom: 10px;
}

.garage__item-add__btn-text {
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #338cf0;
}

.garage__item.active .garage__item-link {
  border-color: #338cf0;
  box-shadow: 0 0 5px rgba(51, 140, 240, 0.8);
}

.garage__item-link {
  display: flex;
  align-items: center;
  padding: 10px 50px 10px 15px;
  background-color: #f0f0f2;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.garage__item-img {
  width: auto;
  max-height: 100px;
  margin-right: 30px;
}

.garage__item-content {
  font-size: 18px;
  line-height: 22px;
  margin-right: 30px;
  align-self: flex-start;
}

.garage__item-name {
  font-weight: 500;
}

.garage__item-delete {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  margin-left: auto;
  cursor: pointer;
}

.auth__form-wrapper {
  display: flex;
  justify-content: center;
}

.auth__form-body {
  width: 100%;
  max-width: 500px;
}

.auth__form {
  display: flex;
  flex-direction: column;
}

.auth__form-input {
  display: block;
  padding: 8px 15px;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
  transition: ease 0.3s;
  width: 100%;
  margin-bottom: 15px;
}

.auth__form-input:focus {
  outline: none;
  border-color: #202020;
}

.auth__form-input::placeholder {
  color: #828282;
}

.auth__btn {
  align-self: flex-end;
}

.auth__help {
  font-size: 14px;
}

.signig__help-link {
  color: #338cf0;
  text-decoration: underline;
}

.catalog__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.catalog__title {
  margin-bottom: 0;
}

.catalog-categories__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.catalog-categories__item {
  padding: 8px 20px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  cursor: pointer;
  transition: ease 0.3s;
}

.catalog-categories__item.active {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.catalog-categories__item:not(:last-of-type) {
  margin-bottom: 15px;
}

.catalog-categories__item:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.catalog-categories__item-category {
  display: flex;
  align-items: center;
}

.catalog-categories__item-img {
  max-height: 120px;
  width: auto;
  margin-right: 50px;
}

.catalog-categories__item-text {
  position: relative;
  font-size: 20px;
  line-height: 24px;
  margin-right: 10px;
}

.catalog-categories__item-btn {
  background-color: transparent;
  border: none;
  margin-left: auto;
  cursor: pointer;
  transition: ease 0.3s;
}

.catalog-subcategories__dropdown-list,
.catalog-subcategories__list {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 20px 0;
}

.catalog-categories__item.active .catalog-categories__item-btn {
  transform: rotateX(180deg);
}

.catalog-subcategories__dropdown-item,
.catalog-subcategories__item {
  display: flex;
  flex-direction: column;
}

.catalog-subcategories__dropdown-item__link,
.catalog-subcategories__item-link {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog-subcategories__dropdown-item__img,
.catalog-subcategories__item-img {
  width: auto;
  max-height: 100px;
}

.car-info {
  display: flex;
}

.car-info__content {
  margin-right: 30px;
}

.car-info__content-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

.car-info__content-text {
  text-align: right;
}

.car-info__img {
  width: auto;
  max-height: 100px;
}

.catalog__inner {
  position: relative;
  display: flex;
}

.catalog__aside {
  min-width: 250px;
  margin-right: 50px;
}

.catalog__aside-block {
  padding: 15px;
  background-color: #f5f5f5;
}

.catalog__aside-block:not(:last-of-type) {
  margin-bottom: 30px;
}

.catalog__aside-block__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 15px;
}

.catalog__aside-block__categories-list {
  padding-left: 20px;
}

.catalog__aside-block__categories-item:not(:last-of-type) {
  margin-bottom: 5px;
}

.catalog__aside-block__categories-link:hover {
  text-decoration: underline;
}

.catalog__filters-item {
  display: flex;
  flex-direction: column;
}

.catalog__filters-item:not(:last-of-type) {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 20px;
}
.catalog__filters-item:not(:last-of-type)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
}

.catalog__filters-item__title {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px;
}

.catalog__filters-item__range-text__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.catalog__filters-range {
  margin: 0 20px;
}

.catalog__filters-item__brand__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  align-self: flex-end;
}

.catalog__filters-item__brand__btn.hidden {
  display: none;
}

.catalog__body {
  width: 1000px;
}

.catalog__body-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  border-bottom: 1px solid #111;
  padding-bottom: 10px;
}

.catalog__body-top__btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.catalog__body-top__filter-btn {
  display: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.catalog__btn-grid.active .catalog__body-top__btn-img rect {
  stroke: #111;
}

.catalog__btn-flex.active .catalog__body-top__btn-img rect {
  fill: #111;
}

.catalog__body-top__btn:not(:last-of-type) {
  margin-right: 15px;
}

.catalog__body-list.grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.catalog__body-item.hidden {
  display: none !important;
}

.catalog__body-item.hidden-by-brand {
  display: none !important;
}
.catalog__body-item.hidden-by-price {
  display: none !important;
}
.catalog__body-item.hidden-by-amount {
  display: none !important;
}

.catalog__body-list.grid .catalog__body-item {
  display: flex;
  flex-direction: column;
}

.catalog__body-list.flex .catalog__body-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog__body-list.flex .catalog__body-item:not(:last-of-type) {
  margin-bottom: 30px;
}

.catalog__body-list.grid .catalog__body-item__img-box {
  align-self: center;
  margin-bottom: 7px;
}

.catalog__body-list.flex .catalog__body-item__img-box {
  display: flex;
  justify-content: center;
  width: 200px;
}

.catalog__body-list.grid .catalog__body-item__img {
  object-fit: cover;
  max-width: 100%;
  height: 150px;
}

.catalog__body-list.flex .catalog__body-item__img {
  object-fit: cover;
  max-width: 100%;
  height: 150px;
}

.catalog__body-list.grid .catalog__body-item__link {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 10px;
}

.catalog__body-list .catalog__body-item__link:hover {
  text-decoration: underline;
}

.catalog__body-list.grid .catalog__body-item__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.catalog__body-list.flex .catalog__body-item__bottom {
  text-align: right;
}

.catalog__body-list.flex .catalog__body-item__price {
  display: inline-block;
  margin-bottom: 10px;
}

.catalog__body-list.grid .catalog__body-item__basket-btn {
  padding: 5px 8px;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
}

.catalog__body-list.flex .catalog__body-item__basket-btn {
  display: flex;
  align-items: center;
}

.catalog__body-list.grid .catalog__body-item__basket-btn__img {
  margin-right: 7px;
}

.catalog__body-list.flex .catalog__body-item__basket-btn__img {
  margin-right: 7px;
}

.catalog__body-item__basket-btn:hover
  .catalog__body-item__basket-btn__img
  path {
  fill: #338cf0;
}

.catalog__body-list.grid .catalog__body-item__availability {
  text-align: right;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 10px;
}

.basket__list {
  max-width: 1000px;
  margin: 0 auto 30px;
}

.basket__item--title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  background-color: #338cf0;
  color: #fff;
}

.basket__item-label {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px 15px;
}

.basket__item:nth-child(2n) {
  background-color: #fafafa;
}

.basket__item:nth-child(2n + 1) {
  background-color: #f0f0f0;
}

.basket__item-checkbox,
.basket__item-checkbox-all {
  cursor: pointer;
  width: 7%;
}

.basket__item__img-box {
  width: 15%;
  margin-right: 15px;
}

.basket__item__img {
  object-fit: cover;
  width: 100%;
  max-height: 87px;
}

.basket__item-content {
  width: 25%;
  margin-right: 15px;
}

.basket__item__content-title {
  font-size: 20px;
  line-height: 24px;
}

.basket__item__content-title:hover {
  text-decoration: underline;
}

.basket__item-price-per-one {
  width: 10%;
  margin-right: 15px;
}

.basket__item-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10%;
  margin-right: 15px;
}

.basket__item-amount__value {
  padding: 0 5px;
}

.basket__item-amount__btn {
  width: 30px;
  padding: 5px;
  background-color: #338cf0;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: ease 0.3s;
}

.basket__item-amount__btn:hover {
  background-color: #fff;
  color: #338cf0;
}

.basket__item-price-total {
  width: 10%;
}

.basket__total-wrapper {
  display: flex;
  justify-content: center;
}

.confirm-order__total-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.basket__total,
.confirm-order__total-btn {
  width: 400px;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  border-radius: 10px;
  color: #fff;
  background-color: #338cf0;
  transition: ease 0.3s;
}

.confirm-order__total-btn {
  display: flex;
  flex-direction: column;
  border: none;
  cursor: pointer;
}

.confirm-order__total-price {
  text-align-last: left;
  width: 100%;
}

.basket__total:hover,
.confirm-order__total-btn:hover {
  color: #338cf0;
  background-color: #fff;
}

.basket__total:hover .basket__total-price,
.confirm-order__total-btn:hover .confirm-order__total-price {
  border-color: #338cf0;
}

.basket__make-order,
.onfirm-order__total__btn-text {
  transition: ease 0.3s;
}

.basket__total-price,
.confirm-order__total-price {
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 10px;
  transition: ease 0.3s;
}

.delivery__text,
.order-pay__text {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 20px;
}

.delivery__tabs,
.order-pay__tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.delivery__tab,
.order-pay__tab {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
  background-color: #fafafa;
  transition: ease 0.3s;
  border-radius: 5px;
}

.delivery__tab.active,
.order-pay__tab.active {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.delivery__tab-img,
.order-pay__tab-img {
  max-height: 150px;
}

.order-pay__tab-img--big {
  max-height: 100px;
  margin-bottom: 30px;
}

.delivery__tab-text,
.order-pay__tab-text {
  font-size: 20px;
  line-height: 24px;
}

.delivery__tabs-content__text,
.order-pay__tabs-content__text {
  font-size: 20px;
  line-height: 24px;
}

.delivery-courier__form,
.select-card__form {
  display: flex;
  flex-direction: column;
}

.delivery-courier__form-inner,
.select-card__form-inner {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  margin-bottom: 15px;
}

.delivery-courier__form-input,
.select-card__form-input {
  padding: 8px 15px;
  border: 1px solid #b5b5b5;
  transition: ease 0.3s;
  border-radius: 5px;
}

.confirm-order__notes-input {
  padding: 8px 15px;
  border: 1px solid #b5b5b5;
  transition: ease 0.3s;
  border-radius: 5px;
  width: 400px;
  margin-bottom: 15px;
}

.delivery-courier__form-btn,
.select-card__form-btn {
  align-self: flex-end;
}

.delivery-courier__form-input:focus,
.select-card__form-input:focus,
.confirm-order__notes-input:focus {
  outline: none;
  border-color: #111;
}

.delivery-courier__item,
.select-card__item {
  background-color: #338cf0;
  color: #fff;
}

.delivery-courier__dropdown-list,
.select-card__dropdown-list {
  padding: 15px 20px;
}

.delivery-courier__item:not(:last-of-type),
.select-card__item:not(:last-of-type) {
  margin-bottom: 20px;
}

.delivery-courier__item-content,
.select-card__item-content {
  padding: 15px 20px;
  cursor: pointer;
}

.delivery__my-address__list {
  padding: 15px 20px;
}

.delivery__my-address__item,
.select-card__dropdown-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delivery__my-address__item-text,
.select-card__dropdown-item__text {
  font-size: 18px;
  line-height: 22px;
}

.delivery__my-address__item:not(:last-of-type),
.select-card__dropdown-item:not(:last-of-type) {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #fff;
}

.delivery__tabs-content__btn {
  margin-top: 15px;
}

.order-pay__tabs-content__btn {
  margin-top: 15px;
}

.confirm-order__info {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.confirm-order__info-header {
  padding: 20px 15px;
  background-color: #338cf0;
  color: #fff;
}

.confirm-order__info-body {
  padding: 20px 15px;
  background-color: #fafafa;
}

.confirm-order__info-body__text:not(:last-of-type) {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #111;
}

.profile__name {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 15px;
}

.profile__stats-list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.profile__stats-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  width: 165px;
  text-align: center;
  padding: 0 20px;
}

.profile__stats-item:not(:last-of-type)::after {
  content: "";
  position: absolute;
  width: 1px;
  background-color: #cecece;
  top: 20%;
  bottom: 20%;
  right: 0;
}

.profile__stats-item__img {
  max-width: 80px;
  margin-bottom: 10px;
}

.profile__stats-item__value {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 5px;
}

.profile__tabs-list {
  display: flex;
  align-items: center;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  margin-bottom: 30px;
}

.profile__tab {
  color: #cecece;
  text-transform: uppercase;
  padding: 10px;
  transition: ease 0.3s;
}

.profile__tab.active {
  color: #111;
}

.profile__tabs-content__forms {
  max-width: 400px;
}

.profile__tabs-content__form {
  display: flex;
  align-items: center;
}

.profile__tabs-content__form-input {
  width: 60%;
  margin-right: 10px;
  position: relative;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #cecece;
  transition: ease 0.3s;
}

.profile__tabs-content__form-label {
  width: 25%;
  margin-right: 5px;
}

.profile__tabs-content__form__apply-btn {
  margin-right: 5px;
}

.profile__tabs-content__form-btns {
  display: flex;
  justify-content: flex-end;
  width: 15%;
}

.profile__cards-list,
.profile__addresses-list{
  display: grid;
  grid-gap: 30px 50px;
  grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
}

.profile__cards-item,
.profile__addresses-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile__card-img,
.profile__address-img{
  max-width: 50px;
  margin-right: 15px;
}

.profile__card-text,
.profile__address-text{
 margin-right: 15px; 
}

.profile__card__add-btn__img,
.profile__address__add-btn__img{
  max-height: 30px;
  margin-bottom: 5px;
}

.profile__card__add-btn__text,
.profile__address__add-btn__text{
  text-transform: uppercase;
  color: #338cf0;
}

.select-card__form--profile,
.delivery-courier__form--profile{
  display: none;
  margin-bottom: 20px;
}

.select-card__form--profile.active,
.delivery-courier__form--profile.active{
  display: flex;
}

.change-info__input:disabled {
  color: #111;
  background-color: transparent;
  border-color: transparent;
}

.change-info__input:focus {
  outline: none;
  border-color: #111;
}

.change-info__change-btn,
.change-info__apply-btn,
.change-info__cancel-btn {
  background-color: transparent;
  border: none;
  line-height: 0;
  cursor: pointer;
}

.change-info__change-btn,
.change-info__apply-btn,
.change-info__cancel-btn {
  display: none;
}

.change-info__change-btn.active,
.change-info__apply-btn.active,
.change-info__cancel-btn.active {
  display: block;
}

.profile__orders-item {
  padding: 20px;
  border: 1px solid #111;
  border-radius: 5px;
  margin-bottom: 50px;
}

.profile__orders-item__section-title {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  padding-top: 10px;
  margin: 10px 0;
  border-top: 1px solid #111;
}

.profile__orders-item__section:not(:last-of-type) {
  margin-bottom: 15px;
}

.profile__orders-item__total-wrapper {
  text-align: right;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

.profile__orders-item__parts-item__link {
  text-decoration: underline;
}

.profile__orders-item__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  line-height: 22px;
}

.castom-error {
  padding: 10px;
  background-color: rgba(240, 71, 53, 0.5);
  border: 1px solid #f04735;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.delivery__inner,
.payment__inner,
.about__inner {
  font-size: 18px;
  line-height: 22px;
}

.about__text {
  margin: 10px 0;
}

.delivery__list,
.payment__list,
.about__list {
  padding-left: 20px;
  margin: 10px 0;
}

.about .about__list {
  list-style: disc;
}

.card__inner {
  display: flex;
}

.card__content__text-box {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 24px;
}

.card__img-box {
  max-width: 500px;
  margin-right: 100px;
}

.footer {
  color: #fff;
  background-color: #111;
}

.footer__top {
  padding: 50px 0;
  border-bottom: 1px solid #515151;
}

.footer__top-inner {
  display: flex;
}

.footer__list {
  width: 180px;
}

.footer__list:not(:last-of-type) {
  margin-right: 50px;
}

.footer__item {
  font-size: 14px;
  line-height: 16px;
}

.footer__item--title {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 15px;
}

.footer__item:not(:last-of-type) {
  margin-bottom: 10px;
}

.footer__bottom {
  padding: 25px 0;
}

.footer__copy {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.error {
  text-align: center;
}

.error__title {
  font-size: 96px;
  line-height: 120px;
}

.error__text {
  font-size: 24px;
  line-height: 30px;
}

@media (max-width: 1100px) {
  .logo-wrapper {
    margin-left: 20px;
    margin-right: 50px;
  }
  .header__search-form {
    width: 360px;
  }

  .header__content {
    padding-bottom: 0;
  }

  .header__menu {
    display: none;
  }

  .footer__top {
    padding: 40px 0;
  }

  .footer__list:not(:last-of-type) {
    margin: 15px 30px;
  }

  .footer__list {
    margin: 15px 30px;
  }

  .footer__top-inner {
    flex-wrap: wrap;
  }
}

@media (max-width: 968px) {
  .logo-img {
    max-width: 170px;
  }
  .header__wrapper {
    margin-bottom: 60px;
  }
  .header__content {
    padding-bottom: 15px;
  }

  .header__content-inner {
    flex-wrap: wrap;
  }

  .header__search-form {
    order: 1;
    width: 100%;
    margin-right: 0;
  }

  .header__top-info {
    display: none;
  }

  .nav-list {
    margin-right: 0;
  }

  .select-car__inner {
    padding: 30px 40px 60px 40px;
  }

  .select-car__title {
    font-size: 36px;
    line-height: 40px;
  }

  .select-car__text {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .select-car__form {
    background-color: transparent;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
  }

  .select-car__input {
    width: 100%;
  }
  
  .select-car__input:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .catalog__top {
    flex-direction: column;
  }

  .catalog-categories__top {
    flex-direction: column;
  }

  .catalog-categories__title {
    align-self: flex-start;
  }

  .car-info {
    align-self: flex-end;
  }

  .catalog__body-top__btn.catalog__btn-flex {
    display: none;
  }

}

@media (max-width: 786px) {
  .page-section {
    margin-bottom: 50px;
  }

  .page-title {
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 20px;
  }

  .basket__item--title {
    padding: 10px 5px;
  }

  .basket__item-label {
    padding: 10px 5px;
  }

  .basket__item-checkbox-all {
    max-width: 15px;
  }

  .basket__item__img-box {
    max-width: 50px;
    margin-right: 10px;
  }

  .basket__item__content-title {
    font-size: 16px;
    line-height: 14px;
  }

  .basket__item__content-description,
  .basket__item__content-amount {
    font-size: 14px;
    line-height: 16px;
  }

  .basket__item-content {
    max-width: 135px;
  }

  .basket__item-amount {
    width: 70px;
    margin-right: 10px;
  }

  .basket__item-amount__btn {
    width: 23px;
    padding: 1px;
  }

  .basket__item-price-total {
    width: 90px;
  }

  .basket__item-checkbox {
    max-width: 15px;
  }

  .marks__title {
    font-size: 34px;
    line-height: 40px;
  }

  .header__wrapper {
    margin-bottom: 40px;
  }

  .nav-item__link {
    font-size: 16px;
    line-height: 20px;
  }

  .select-car__inner {
    padding: 20px 25px 40px 25px;
  }

  .select-car__title {
    font-size: 30px;
    line-height: 36px;
  }

  .marks__top {
    padding: 15px 20px 10px 20px;
  }

  .marks__bottom {
    padding: 15px 20px;
  }

  .marks__list {
    grid-gap: 15px 20px;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }

  .marks__item-link {
    font-size: 16px;
    line-height: 20px;
  }

  .marks__logo-item__img {
    max-height: 50px;
  }

  .catalog__body-top__filter-btn {
    display: block;
  }

  .catalog__aside {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: ease 0.3s;
    transform: scaleX(0.3);
    transform-origin: 100% 100%;
    top: 38px;
    right: 0;
    margin-right: 0;
    background-color: #fff;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  }

  .catalog__aside.active {
    visibility: visible;
    opacity: 1;
    transform: scaleX(1);
  }

  .profile__stats-item__img {
    max-width: 60px;
  }

  .profile__stats-item__value {
    font-size: 16px;
    line-height: 20px;
  }

  .profile__stats-item__text {
    font-size: 14px;
    line-height: 16px;
  }

  .card__inner {
    flex-direction: column;
  }

  .card__img-box {
    align-self: center;
    margin-bottom: 15px;
    margin-right: 0;
  }

  .card__content__text-box {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  .card__content {
    display: flex;
    flex-direction: column;
  }

  .card .catalog__body-item__basket-btn {
    align-self: flex-end;
  }

  .card__img {
    max-width: 400px;
  }

  .footer__top {
    padding: 20px 0;
  }

  .footer__top-inner {
    justify-content: center;
  }
}

@media (max-width: 660px) {
  .header__aside {
    display: block;
  }

  .header__top {
    display: none;
  }

  .header__content-nav {
    display: none;
  }

  .header__search-form {
    display: none;
  }

  .header__content-inner {
    justify-content: space-between;
  }

  .header__content {
    padding: 10px 0;
  }

  .logo-wrapper {
    margin-left: 0;
  }

  .logo-img {
    max-width: 130px;
  }

  .header__hamburger-btn {
    display: block;
  }

  .header__hamburger-btn.active span {
    background-color: transparent;
  }

  .header__hamburger-btn.active span::before {
    top: 0;
    transform: rotate(-45deg);
  }

  .header__hamburger-btn.active span::after {
    bottom: 0;
    transform: rotate(45deg);
  }

  .garage__list {
    grid-template-columns: 1fr;
  }

  .garage__item-link {
    padding: 5px 40px 5px 5px;
  }

  .garage__item-delete__img {
    width: 20px;
    height: 20px;
  }

  .garage__item-name {
    font-size: 16px;
    line-height: 20px;
  }

  .garage__item-description {
    font-size: 14px;
    line-height: 16px;
  }

  .garage__item-img {
    margin-right: 15px;
    max-width: 100px;
  }

  .categories__item-link__img {
    max-height: 80px;
  }

  .categories__item-link__text {
    font-size: 14px;
    line-height: 16px;
  }

  .categories__list {
    grid-gap: 10px;
  }

  .catalog-categories__item-img {
    margin-right: 20px;
    max-height: 80px;
  }

  .catalog-subcategories__dropdown-item__img {
    max-height: 50px;
  }

  .catalog-subcategories__dropdown-list {
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  }

  .catalog-subcategories__dropdown-item__text {
    text-align: center;
    font-size: 14px;
    line-height: 16px;
  }

  .profile__tabs-list {
    flex-wrap: wrap;
  }

  .profile__tab {
    font-size: 14px;
    line-height: 16px;
  }

  .garage__item-add__btn-img--plus {
    max-height: 45px;
    margin-bottom: 5px;
  }
  .garage__item-add__btn-text {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 520px) {
  .page-section {
    margin-bottom: 40px;
  }

  .page-title {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 15px;
  }

  .basket__item__img-box {
    display: none;
  }

  .basket__item-price-per-one {
    display: none;
  }

  .basket__total,
  .confirm-order__total-btn {
    font-size: 18px;
    line-height: 22px;
    padding: 8px 15px;
  }

  .basket__total-price {
    padding-bottom: 5px;
    margin-bottom: 5px;
  }

  .delivery-courier__form-inner {
    grid-template-columns: 1fr;
  }

  .select-card__form-inner {
    grid-template-columns: 1fr;
  }

  .car-info__content {
    margin-right: 15px;
  }

  .car-info__img {
    max-width: 100px;
  }

  .car-info__content-title {
    font-size: 16px;
    line-height: 20px;
  }

  .marks__title {
    font-size: 30px;
    line-height: 36px;
  }

  .select-car__title {
    font-size: 22px;
    line-height: 26px;
  }

  .select-car__text {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  .select-car__inner {
    padding: 15px 10px 20px 10px;
  }

  .marks__logo-item__img {
    max-height: 40px;
  }

  .marks__logo-item {
    margin: 5px;
  }

  .marks__item-link {
    font-size: 14px;
    line-height: 16px;
  }

  .marks__list {
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  }

  .catalog-categories__item-text {
    font-size: 16px;
    line-height: 20px;
  }

  .catalog-categories__item__btn-img {
    width: 20px;
  }

  .catalog-categories__item {
    padding: 5px 10px;
  }

  .auth__form {
    margin-bottom: 15px;
  }

  .profile__stats-list {
    display: none;
  }

  .garage__item-add__btn-img--plus {
    max-height: 40px;
    margin-bottom: 5px;
  }
  .garage__item-add__btn-text {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 440px) {
  .garage__item-img {
    margin-right: 10px;
    max-width: 80px;
  }

  .confirm-order__notes-input{
    width: 100%;
  }
}
